In [1]:
import pandas as pd

## Load data

#### Mobile Log data

In [2]:
# Mobile
mobile = pd.read_csv("./data(다운로드금지)/PCMB공통수집패널로그_MB_201406.csv", low_memory=False, header=None)

In [3]:
mobile.columns = ["UID","Full_URL","Site","Domain","Time", "Title",
              "keyword_p","keyword_t",
              "category_1","category_2","category_3","category_4","category_5","category_6",
              "ownership_1","ownership_2"]

In [4]:
mobile.UID = mobile.UID.map(lambda x: x.replace(" ",""))

#### PC Log data

In [5]:
# PC
pc1 = pd.read_csv("/home/da/jupyter/김현준/PCMB공통수집패널로그_PC_20140601_10.csv", header=None, low_memory=False)
pc2 = pd.read_csv("/home/da/jupyter/김현준/PCMB공통수집패널로그_PC_20140611_20.csv", header=None, low_memory=False)
pc3 = pd.read_csv("/home/da/jupyter/김현준/PCMB공통수집패널로그_PC_20140621_30.csv", header=None, low_memory=False)

In [6]:
pc1.columns = ["UID","Full_URL","Site","Domain","Time", "Title",
              "keyword_p","keyword_t",
              "category_1","category_2","category_3","category_4","category_5","category_6",
              "ownership_1","ownership_2"]
pc2.columns = ["UID","Full_URL","Site","Domain","Time", "Title",
              "keyword_p","keyword_t",
              "category_1","category_2","category_3","category_4","category_5","category_6",
              "ownership_1","ownership_2"]
pc3.columns = ["UID","Full_URL","Site","Domain","Time", "Title",
              "keyword_p","keyword_t",
              "category_1","category_2","category_3","category_4","category_5","category_6",
              "ownership_1","ownership_2"]

In [7]:
pc1.UID = pc1.UID.map(lambda x: x.replace(" ",""))
pc2.UID = pc2.UID.map(lambda x: x.replace(" ",""))
pc3.UID = pc3.UID.map(lambda x: x.replace(" ",""))

In [10]:
pc = pd.concat([pc1, pc2, pc3], axis=0)

#### Survey data

In [8]:
# 패널 서베이
survey = pd.read_excel("./data(다운로드금지)/140716_SSK 구매행태 조사 Raw Data_F.xlsx")
survey.UID = survey.UID.map(lambda x: x.replace(" ",""))
print("서베이의 총 UID 개수:", survey.UID.nunique())

서베이의 총 UID 개수: 1066

In [18]:
uid_list = survey.UID.unique().tolist()

In [16]:
# Mobile/PC 여부 컬럼 추가
# 1 = PC
# 0 = Mobile
mob_sample["PC"] = 0
pc_sample["PC"] = 1

## Mobile/PC to one dataframe

In [11]:
mobile["PC"] = 0
pc["PC"] = 1

In [12]:
data = pd.concat([mobile, pc], axis=0)

In [13]:
data.reset_index(drop=True, inplace=True)

In [14]:
# Time 데이터 속성 변경
data["Time"] = data["Time"].astype("datetime64")

In [15]:
# 안쓰는 컬럼 삭제
data.drop(["Site","Title","keyword_p","keyword_t",
             "category_1", "category_2", "category_3", "category_4", "category_5", "category_6"],
             axis=1, inplace=True)

In [16]:
print("# of rows:", len(data))

# of rows: 50999038

In [17]:
print("# of unique UIDs:", data.UID.nunique())

# of unique UIDs: 2103

## 서베이에 참여한 패널들만 sample

In [20]:
sample = data[data["UID"].isin(uid_list)].copy()

In [22]:
sample.reset_index(drop=True, inplace=True)

In [23]:
sample.head()

,UID,Full_URL,Domain,Time,ownership_1,ownership_2,PC
0,20130820A574A4005D61,http://www.koreapas.com/m/view.php?id=pashion&...,koreapas.com/,2014-06-01 22:26:59,NaN,NaN,0
1,20130923D5653FF28FD9,http://www.swimdoctormall.co.kr/?mode=PC,swimdoctormall.co.kr/,2014-06-05 21:59:00,NaN,NaN,0
2,20130820A574A4005D61,http://www.koreapas.com/m/view.php?id=pashion&...,koreapas.com/,2014-06-01 22:27:28,NaN,NaN,0
3,20130923D5653FF28FD9,http://www.swimdoctormall.co.kr/mall/index.php,swimdoctormall.co.kr/,2014-06-05 21:59:09,NaN,NaN,0
4,20130923D5653FF28FD9,http://www.swimdoctor.com/bbs/bbs_view.php?cod...,swimdoctor.com/,2014-06-06 02:40:15,NaN,NaN,0

In [24]:
# 데이터프레임 저장
sample.to_csv("./data(다운로드금지)/0120_PC&Mob_06.csv", index=False)